@CHARSET "ISO-8859-1";

.boxed {
	border: 3px solid black;
	align: left;
	height: 30px;
	width: 30px;
}

.para {
	position: relative;
	left: 50px;
}

.divWithBackgroundGrey {
	background-color: grey;
}

table#fullNameLastName tr td{
	height: 20px;
	width: 20px;
}

table#htmlgrid tr td{
	height: 20px;
	width: 20px;
}

table#fullNameFirstName tr td{
	height: 20px;
	width: 20px;
}

table#fullNameMiddleName tr td{
	height: 20px;
	width: 20px;
}

table#abbreviation tr td{
	height: 20px;
	width: 20px;
}


table#otherNameLastName tr td{
	height: 20px;
	width: 20px;
}

table#otherNameFirstName tr td{
	height: 20px;
	width: 20px;
}

table#otherNameMiddleName tr td{
	height: 20px;
	width: 20px;
}

table#fatherNameLastName tr td{
	height: 20px;
	width: 20px;
}

table#fatherNameFirstName tr td{
	height: 20px;
	width: 20px;
}

table#fatherNameMiddleName tr td{
	height: 20px;
	width: 20px;
}

table#dobDay tr th{
	border-left: hidden; border-right: hidden; border-top: hidden;
}

table#dobMonth tr th{
	border-left: hidden; border-right: hidden; border-top: hidden;
}

table#dobYear tr th{
	border-left: hidden; border-right: hidden; border-top: hidden;
}

table#dobDay tr td{
	height: 20px;
	width: 20px;
}

table#dobMonth tr td{
	height: 20px;
	width: 20px;
}

table#dobYear tr td{
	height: 20px;
	width: 20px;
}

table#residenceRoomNo tr td{
	height: 20px;
	width: 20px;
}
table#residenceBuilding tr td{
	height: 20px;
	width: 20px;
}
table#residenceRoad tr td{
	height: 20px;
	width: 20px;
}
table#residenceArea tr td{
	height: 20px;
	width: 20px;
}
table#residenceTown tr td{
	height: 20px;
	width: 20px;
}

table#officeName tr td{
	height: 20px;
	width: 20px;
}
table#officeRoomNo tr td{
	height: 20px;
	width: 20px;
}
table#officeBuilding tr td{
	height: 20px;
	width: 20px;
}
table#officeRoad tr td{
	height: 20px;
	width: 20px;
}
table#officeArea tr td{
	height: 20px;
	width: 20px;
}
table#officeTown tr td{
	height: 20px;
	width: 20px;
}

table#detailsCountryCode tr th{
	border-left: hidden; border-right: hidden; border-top: hidden;
}

table#detailsStdCode tr th{
	border-left: hidden; border-right: hidden; border-top: hidden;
}

table#detailsTelephoneNumber tr th{
	border-left: hidden; border-right: hidden; border-top: hidden;
}

table#detailsCountryCode tr td{
	height: 20px;
	width: 20px;
}

table#detailsStdCode tr td{
	height: 20px;
	width: 20px;
}

table#detailsTelephoneNumber tr td{
	height: 20px;
	width: 20px;
}

table#registrationNumber tr td{
	height: 20px;
	width: 20px;
}

table#aadhaarNumber tr td{
	height: 20px;
	width: 20px;
}

table#repNameLastName tr td{
	height: 20px;
	width: 20px;
}

table#repNameFirstName tr td{
	height: 20px;
	width: 20px;
}

table#repNameMiddleName tr td{
	height: 20px;
	width: 20px;
}

table#repRoomNo tr td{
	height: 20px;
	width: 20px;
}
table#repBuilding tr td{
	height: 20px;
	width: 20px;
}
table#repRoad tr td{
	height: 20px;
	width: 20px;
}
table#repArea tr td{
	height: 20px;
	width: 20px;
}
table#repTown tr td{
	height: 20px;
	width: 20px;
}