@CHARSET "ISO-8859-1";

.boxed {
	border: 3px solid black;
	align: left;
	height: 30px;
	width: 30px;
}

.para {
	position: relative;
	left: 50px;
}

.divWithBackgroundGrey {
	background-color: grey;
}

table#fullNameLastName tr td{
	height: 20px;
	width: 20px;
}

table#fullNameFirstName tr td{
	height: 20px;
	width: 20px;
}

table#fullNameMiddleName tr td{
	height: 20px;
	width: 20px;
}

table#abbreviation tr td{
	height: 20px;
	width: 20px;
}

table#nameOffice tr td{
	height: 20px;
	width: 20px;
}
table#roomNo tr td{
	height: 20px;
	width: 20px;
}
table#building tr td{
	height: 20px;
	width: 20px;
}