@CHARSET "ISO-8859-1";

.boxed {
	border: 3px solid black;
	align: left;
	height: 30px;
	width: 30px;
}

.para {
	position: relative;
	left: 50px;
}

.divWithBackgroundGrey {
	background-color: grey;
}

table#fullNameLastName tr td{
	height: 20px;
	width: 20px;
}

table#fullNameFirstName tr td{
	height: 20px;
	width: 20px;
}

table#fullNameMiddleName tr td{
	height: 20px;
	width: 20px;
}

table#abbreviation tr td{
	height: 20px;
	width: 20px;
}


table#otherNameLastName tr td{
	height: 20px;
	width: 20px;
}

table#otherNameFirstName tr td{
	height: 20px;
	width: 20px;
}

table#otherNameMiddleName tr td{
	height: 20px;
	width: 20px;
}

table#fatherNameLastName tr td{
	height: 20px;
	width: 20px;
}

table#fatherNameFirstName tr td{
	height: 20px;
	width: 20px;
}

table#fatherNameMiddleName tr td{
	height: 20px;
	width: 20px;
}

table#dobDay tr th{
	border-left: hidden; border-right: hidden; border-top: hidden;
}

table#dobMonth tr th{
	border-left: hidden; border-right: hidden; border-top: hidden;
}

table#dobYear tr th{
	border-left: hidden; border-right: hidden; border-top: hidden;
}

table#dobDay tr td{
	height: 20px;
	width: 20px;
}

table#dobMonth tr td{
	height: 20px;
	width: 20px;
}

table#dobYear tr td{
	height: 20px;
	width: 20px;
}


table#officeName tr td{
	height: 20px;
	width: 20px;
}
table#officeRoomNo tr td{
	height: 20px;
	width: 20px;
}
table#officeBuilding tr td{
	height: 20px;
	width: 20px;
}
table#officeRoad tr td{
	height: 20px;
	width: 20px;
}
table#officeArea tr td{
	height: 20px;
	width: 20px;
}
table#officeTown tr td{
	height: 20px;
	width: 20px;
}